body {
  font-family: $base-font-family;
  line-height: $base-line-height;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  background-color: $base-table-bg-color;

  th,
  td {
    padding: 0.625em;
    text-align: center;
  }

  thead tr {
    background-color: darken($color: #74b9ff, $amount: 3);
  }

  thead tr th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
  }
}

table {
  caption {
    font-size: $base-caption-font-size;
    margin: 0.5em 0 0.75em;
  }
}

table {
  tr {
    background-color: $base-table-tr-bg-color;
    border: 1px solid #ddd;
    padding: 0.35em;
  }
}

@media screen and (max-width: 600px) {
  table {
    border: none;

    caption {
      font-size: 1.3em;
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}

@media screen and (max-width: 135px) {
  table {
    caption {
      font-size: 2vw;
    }
  }

  thead tr th {
    font-size: 2vw;
  }
}
